
:root {
    --basic-black: #000000;
    --basic-dark-grey: #283136;
    --basic-white-grey: #EEEEEE;
    --basic-medium-grey:#DFDFDF;
    --basic-grey-dark: #D5D5D5;
    --basic-grey: #666666;
    --basic-light-grey: #444444;
    --basic-lt-grey: #C1C1C1;
    --basic-coral: #FB565A;
    --basic-medium-coral: #E74246;
    --basic-dark-coral: #D7373B;
    --basic-green: #00CA74;
    --basic-medium-green: #00BC6C;
    --basic-dark-green: #00AA62;
    --basic-yellow: #EFC849;
    --basic-medium-yellow: #EAB534;
    --basic-dark-yellow: #E5A722;
    --basic-white: #ffffff;
    --special: #E1E1E1;
    --basic-red: #E74246;
    --basic-dark-red: #D7373B;
    --basic-scale-grey: #D7DCDF;
    --basic-green-range: #00CA74;
    --back-grey-range: #ABABAB;
    --basic-shadow: #888888;
    --basic-sort-light-grey: #A6A6A6;
    --basic-checkbox-grey: #4D4D4D;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общие стили */
body {
  min-width: 1440px;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  }

  .wrapper {
    width: 1177px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
  }

  a {
      text-decoration: none;
      color: var(--basic-black);
    }


  img {
    max-width: 100%;
    height: auto;
  }

  .service-list,
  .order-title-list,
  .client-list,
  .social-list,
  .page-list,
  .header-nav-list,
  .slider-list,
  .advantages-table-list,
  .sort-list-link,
  .arrow-list,
  .pagination-item {
    list-style: none;
  }

/*кнопки общие*/
  .button {
  height: 50px;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  display: block;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-coral);
  border: none;
  border-radius: 3px;
  text-align: center;
  }

  .button:hover {
    background-color: var(--basic-medium-coral)
  }

  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-dark-coral);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border: none;
  }


/*header и навигация*/
  .header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
  }

  .header-nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    align-self: center;
  }

  .header-nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45px;
    box-sizing: border-box;
  }

  .basket-link {
    margin-left: 200px;
  }

  .basket {
    padding-right: 25px;
  }

  .logo:active {
    opacity: 0.3;
  }
  .page-header {
    padding: 0;
    margin: 0;
    background-color: var(--basic-white-grey);
  }

  .logo:active {
    opacity: 0.3;
  }

  .page-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white-grey);
  }


  .page-nav-link:hover {
    color: var(--basic-coral);
  }

  .page-nav-link:focus {
    color: var(--basic-black);
    opacity: 0.3;
  }

  .page-nav-link:active {
    color: var(--basic-black);
  }

/* слайдер*/
  .slider-item {
    height: 431px;
    display: flex;
    flex-direction: column;
  }

  .slider-list {
    padding: 0;
    margin: 0;
    background-color: var(--basic-white-grey);
  }

  .slider {
    display: flex;
    justify-content: space-between;
  }

  .slider1 {
    background-image: url("../img/index1.png");
    background-size: width="760" height="431";
    background-repeat: no-repeat;
    background-position: right;
  }

  .slider2 {
    background-image: url("../img/index2.png");
    background-size: width="760" height="431";
    background-repeat: no-repeat;
    background-position: right;
  }

  .slider3 {
    background-image: url("../img/index3.png");
    background-size: width:"760" height="431";
    background-repeat: no-repeat;
    background-position: right;
  }

  .slider-slogan {
    width: 538px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-top: 78px;
    margin-bottom: 38px;
  }

  .slider-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 38px;
  }

  .btn-slider {
    width: 240px;
    margin-top: 0px;
    padding: 17px 54px;
    box-sizing: border-box;
    text-transform: uppercase;
  }

  .button-slider {
    display: flex;
    color: var(--basic-lt-grey);
  }


/*Услуги*/
  .service-list {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 100px;
  }

  .service-list-item {
    display: flex;
    flex-direction: column;
  }

  .service-title {
    width: 169px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: bold;
  }

  .service-description {
   font-size: 16px;
   line-height: 24px;
   margin-top: 0;
   margin-bottom: 32px;
   padding-right: 20px;
  }

/*кнопки-ссылки к услугам*/
  .button-red {
    display: inline-block;
    padding: 16px 40px;
    background-color: var(--basic-coral);
  }

  .button-red:active {
    background-color: var(--basic-dark-coral);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
  }

  .button-green {
    background-color: var(--basic-green);
    display: inline-block;
    padding: 16px 40px;
  }

  .button-green:hover {
    background-color: var(--basic-medium-green);
  }

  .button-green:active {
    background-color: var(--basic-dark-green);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
  }

  .button-yellow {
    background-color: var(--basic-yellow);
    display: inline-block;
    padding: 16px 40px;
  }

  .button-yellow:hover {
    background-color: var(--basic-medium-yellow);
  }

  .button-yellow:active {
    background-color: var(--basic-dark-yellow);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
  }


/*Описание Компании*/
.company-description {
  display: flex;
  padding-top: 40px;
  padding-bottom: 74px;
  border-top: 2px solid var(--basic-white-grey);
  border-bottom: 2px solid var(--basic-white-grey);
}

  .about-company {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .about-us-title {
    width: 651px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
 }

 .about-us-text {
   font-size: 16px;
   line-height: 24px;
   color: var(--basic-dark-grey);
 }

 .order-title {
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   color: var(--basic-dark-grey);
 }

 .order-title-list {
   margin: 0;
   padding-left: 0px;
 }

 .order-title-item {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: var(--basic-dark-grey);
 }

 .order-title-item::before {
   display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 7px;
  content: "";
  vertical-align: middle;

  background-color: var(--basic-coral);
 }
/*таблица*/

.advantages {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

 .advantages-table-list {
   width: 100%;
   margin: 0px;
   margin: 0px;
   text-align: center;
   display: flex;
   justify-content: space-between;
   padding-left: 0;
 }

 .table-description {
   margin-top: 37px;
   margin-bottom: 31px;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   display: block;
 }

 .advantages-table-item {
   display: flex;
   flex-direction: column;
   border-left: 0px;
 }

 .table-th {
   margin: 0;
   font-size: 16px;
   line-height: 18px;
   color: var(--basic-dark-grey);
 }

 .table-td {
   margin: 0;
   font-weight: bold;
   font-size: 49px;
   line-height: 64px;
 }

.procent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

/*логотипы клиентов*/
.client {
  height: 180px;
  border-bottom: 2px solid var(--basic-white-grey);
}
.client-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-item::after {
  display: block;
  width: 2px;
  height: 52px;
  margin: 0 19px;
  content: "";
  background-color: var(--basic-white-grey);
  margin-left: 45px;

}

.client-item:nth-child(4n)::after,
.client-item:last-child::after {
  display: none;
}


.client-list {
  align-items: center;
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
}

.client-logo {
  align-items: center;
   opacity: 0.2;
}

 .client-logo:hover {
   opacity: 2.0;
}

 .client-logo:active {
   opacity: 0.1;
}

/*Адресс и контакты компании*/
.page-footer {
  margin-top: 80px;
}

.address-map {
  width: 100%;
  min-height: 416px;
  border: 0;
}

.contacts-map {
  display: block;
}
.company-contacts {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  padding-top: 49px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-bottom: 2px solid var(--back-grey);
  position: absolute
  left: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

 }

 .company-name {
   width: 193px;
   font-weight: bold;
   font-size: 18px;
   line-height: 30px;
   text-transform: uppercase;
   margin-bottom: 22.71px;
 }

 .company-address,
 .company-phone {
   width: 230px;
   font-size: 16px;
   line-height: 18px;
   color: var(--basic-grey);
 }

 .company-phone {
   margin-bottom: 37.29px;
 }

 .address-button {
   width: 219px;
   margin-top: 0px;
   padding: 17px 44px;
   box-sizing: border-box;
   text-transform: uppercase;
 }
/*соцсети*/
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 75px;
  align-items: center;
}

.friends {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 68px;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
  padding-right: 9px;
}

 .social-item {
   display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--special);
 }
 .link-vk {
   background: url("../img/vk-icon.svg");
   background-size: 26px 15px;
   background-color: var(--special);
   background-repeat: no-repeat;
   background-position: center;
 }
 .link-fb {
   background: url("../img/fb-icon.svg");
   background-size: 12px 22px;
   background-color: var(--special);
   background-repeat: no-repeat;
   background-position: center;
 }
 .link-insta {
   background: url("../img/insta-icon.svg");
   background-size: 21px 21px;
   background-color: var(--special);
   background-repeat: no-repeat;
   background-position: center;
 }

 .link-insta:active {
   color: rgba(255, 255, 255, 0.3);
 }

 .social-item:hover,
 .social-item:focus {
   background-color: var(--basic-red);
 }


 .social-item:active {
   background-color: var(--basic-dark-red);
   box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
   color: rgba(255, 255, 255, 0.3);
 }

.footer-slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-light-grey);
  margin-top: 0;
}

/*catalog*/

.main-catalog {
  height: 235px;
  background-color: var(--basic-white-grey);
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 72px;
  padding-left: 210px;
}

.main-page-catalog {
  display: grid;
  grid-template-columns: 260px 760px;
  column-gap: 140px;
  grid-template-rows: min-content min-content min-content;
  padding: 0;
  padding-top: 56px;
  padding-bottom: 60px;
}
/*Фильтр*/
.filter {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}
.price {
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 15px;
}
/*диапазон цен*/
.range-controls {
  position: relative;
  height: 80px;
  width: 260px;
  margin-top: 35px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: var(--basic-white-grey);
  border-radius: 5px;
}
.range-slider {
  height: 2px;
  background-color: var(--basic-scale-grey);
}

.range-bar {
  width: 75%;
  height: 2px;
  background-color: var(--basic-green-range);
}

.range-switch {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--back-grey-range);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-min {
  left: 0%;
}

.range-max {
  left: 75%;
}

.price-filter-form {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 54px;
}

.price-filter {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-dark-grey);
}

.price-filter-number {
  width: 80px;
  margin-left: 10px;
  padding: 9px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  text-align: center;
  color: var(--basic-dark-grey);
  background-color: var(--basic-white-grey);
  border: none;
  border-radius: 5px;
}

/*Фильтр особенностей*/
.features-filter {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  margin-bottom: 43px;
}

.features-filter-title,
.main-filter-radio {
margin-top: 15px;
}

.main-filter-radio::before {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  content: "";
  margin-right: 10px;
  margin-left: -2px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  opacity: 0.4;
}

.features-filter {
  margin-bottom: 48px;
}

.features-filter-title,
.input-checkbox {
  margin-top: 17px;
}

.main-filter-checkbox::before {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 23px;
  content: "";
  margin-left: -2px;
  margin-right: 10px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: left center;
  opacity: 0.4;
}

.price,
.features-filter-title,
.sort {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark-grey);
}

.button-filter {
  width: 260px;
  font-weight: bold;
  background-color: var(--basic-white-grey);
  color: var(--basic-black);
}

.button-filter:hover,
.button-filter:focus  {
  background-color: var(--basic-medium-grey);
}

.button-filter:active {
  background-color: var(--basic-grey-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-medium-grey);
}

/*Сортировка и каталог*/

.catalog-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
/*Сортировка*/
.sort-list {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.sort-list-link {
  width: 490px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}
.sort-link {
  margin-left: 25px;
}


.sort-link:first-child {
  margin-left: 0;
}

.arrow-list {
  width: 40px;
  border-left: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sort-link-item,
.arrow {
  margin-right: 25px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
  text-decoration: none;
  align-items: center;
}

.sort-link-item:hover,
.arrow:hover,
.sort-link-item:focus
.arrow:focus {
  opacity: 0.6;
}

.sort-link-item:active {
  color: var(--basic-black);
  opacity: 1;
}

.sort {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-link-item,
.arrow {
  margin-right: 25px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
  text-decoration: none;
  align-items: center;
}
.arrow {
  display: block;
}
.arrow:active {
  color: var(--basic-black);
  opacity: 1;
}


/*карточки каталога*/
.catalog {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.catalog-list {
  margin-bottom: 48px;

  display: flex;
  justify-content: space-between;
}
.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item-link {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}

.catalog-item-link::before {
  display: block;
  content: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-size: 360px 40px;
  background-position: center;
  opacity: 0.12;
}

.catalog-item-link:hover .catalog-item-card
.catalog-item-link:focus .catalog-item-card  {
  display: block;
}

.catalog-item-link:hover::before,
.catalog-item-link:focus::before {
  opacity: 1;
}
/*всплывающее окно карточки товара*/
.catalog-item-card {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 360px;
  min-height: 231px;
  background: var(--basic-white-grey);
  padding-top: 26px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 44px;
  box-sizing: border-box;
  text-align: center;
  overflow: auto;
}

.catalog-item-link:hover .catalog-item-card,
.catalog-item-link:focus .catalog-item-card {
  display: block;
}
.catalog-item-link:hover,
.catalog-item-link:focus {
  box-shadow: 0 6px 15px var(--basic-shadow);
}
/*содеожание всплывающего окна*/
.catalog-item-name {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}
.button-price-red {
width: 200px;
height: 50px;
margin-left: 20px;
margin-right: 25px;
}

/*Пагинация (номера страниц)*/
.pagination-list {
  margin-top: 49px;
  margin-bottom: 55px;
  padding-left: 0px;

  display: flex;
  flex-wrap: wrap;
}
.pagination-item {
  margin-right: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}
.pagination-link {
  width: 50px;
  height: 50px;
  color: var(--basic-black);
  background-color: var(--basic-white-grey);
}
.page-link-text {
  width: 260px;
  height: 50px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: var(--basic-medium-grey);
}
.pagination-link:active {
  color: var(--basic-black);
  background-color: var(--basic-grey-dark);
}
.pag-link:active {
  background-color: rgba(0, 0, 0, 0.0001);
border: 3px solid #DBDBDB;
box-sizing: border-box;
border-radius: 3px;
padding-top: 14px;
}
/*popup*/
.modal {
  margin: 0 auto;
  width: 760px;
  padding-top: 63px;
  padding-left: 100px;
  padding-bottom: 84px;
  padding-right: 100px;
/*  position: fixed;*/
  left: 0;
  right: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--basic-shadow);

}
.modal-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.user-info {
  display: flex;
  flex-direction: row;
  margin-top: 37px;
}
.user-info-feedback {
  display: flex;
  flex-direction: column;
}

.modal-name-title {
  width: 100%;
  margin: 0;

  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}
.feedback-form {
  display: flex;

  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  align-items: center;
}
.form-example {
  width: 360px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 34px;
}

.email-user {
  margin-left: 40px;
}
.message-user {
  width: 760px;
  height: 118px;
}
.modal-form input::-webkit-input-placeholder {
  display: flex;
  align-items: center;
  color: #444444;
  opacity: 0.5;
  padding: 0;
}
.modal-form input:hover::-moz-placeholder,
.modal-form textarea:hover::-moz-placeholder {
  color: #444444;
  opacity: 0.5;
}

.modal-form input:focus::-moz-placeholder,
.modal-form textarea:focus::-moz-placeholder{
  color: #444444;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border: 2px solid #B4B9BB;
}
.modal-form input:focus,
.modal-form textarea:focus {
  border: 2px solid #000000;
}

.modal-form textarea::-webkit-input-placeholder  {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
  padding-left: 16px;
  padding-top: 16px;
}
.form-example {
  padding-left: 15px;
}
.form-example {
  padding-top: 16px;
}
.modal-button {
  width: 259px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}
.close-button {
  width: 81px;
  height: 21px;
}
/*
.close-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 78px;
  right: 90px;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}

.close-button::after {
  content: '';
  width: 21px;
  height: 21px;
  display: block;
  background-image: url(../img/close-cross.svg);
  position: absolute;
}*/
